.App {
  .heading {
    width: fit-content;
    margin: 0 auto;
  }

  &__controls {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }

  &__button {
    margin-right: 40px;
    outline: none;
    height: 50px;
    background-color: rgb(233, 221, 221);
    border: solid 1px burlywood;
    transition: background-color 0.5s, transform 0.1s;
    cursor: pointer;
    &:hover {
      background-color: cadetblue;

    }
    &:focus {
      transform: scale(1.1);
    }
  }
  .goodsList {
    margin: 20px auto 0;
    width: 600px;
    list-style: none;
    & li {
      margin-top: 10px;
    }
    & li:nth-child(odd) {
      background-color: rgb(234, 240, 240);

    }
  }

  .hidden {
    opacity: 0;
  }
}
